nav {
    background-color: darkred;
    height: 80px;
}

.title {
    color: white;
    font-size: 30px;
    margin-left: 110px;
    margin-top: 20px;
}  

ul {
    font-size: 20px;
    color: white;
    margin-top: -35px;
    margin-right: 110px;
}


